<!doctype html>
<html>
<head>
	<title>Group Chat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="assets/css/style.css" rel="stylesheet" />
	<link href="assets/css/chat.css" rel="stylesheet" />
	<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/d4ad1e750c.js"></script>
</head>
<body>

	<% include partial/nav %>

	<div class="main" id="main">
	<div class="group-panel">
		<ul>Your Groups
			<li>Group 1</li>
			<li>Group 2</li>
		</ul>
	</div>
	<div class="chat-window">
		<div class="chat-nav">
			
		</div>
		<div class="chats">
			
		</div>
		<div class="msg-bar">
			<div class="new-attach"><i class="fa fa-paperclip" aria-hidden="true"></i></div>
			<div class="new-msg">
				<input type="text" name="newMessage" placeholder="Type here">
			</div>
			<div class="send-msg"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
		</div>
	</div>



	</div>
</body>
</html>
