<!doctype html>
<html>
<head>
	<title>Group Chat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="assets/css/style.css" rel="stylesheet" />
	<link href="assets/css/chat.css" rel="stylesheet" />
	<script src="/assets/js/jquery-3.2.1.min.js"></script>
	<script src="https://use.fontawesome.com/d4ad1e750c.js"></script>
</head>
<body>

	<% include partials/nav %>

	<div class="main" id="main">
	<div class="group-panel">
		<ul>Your Groups
			<li>Group 1</li>
			<li>Group 2</li>
		</ul>
	</div>
	<div class="chat-window">
		<div class="chat-nav">
			<span>Group Title</span>
		</div>
		<div class="chats" id="chats">
			<div class="msg">
				<span class="msg-owner">aw123</span>
				<span class="msg-text">hello! how are u doing.</span>
			</div>
			<div class="msg">
				<span class="msg-owner">blendit07</span>
				<span class="msg-text">I am doing fine! how are u doing.</span>
			</div>
			
		</div>
		<div class="msg-bar">
			<div class="new-attach"><i class="fa fa-paperclip" aria-hidden="true"></i></div>
			<div class="new-msg" >
				<input type="text" id="new-msg" name="newMessage" placeholder="Type here">
			</div>
			<div class="send-msg" id="send-msg"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
		</div>
	</div>



	</div>

	<script type="text/javascript">
		$('#send-msg').on('click', function(){
			$('#chats').innerHTML = ' <div class="msg"><span class="msg-owner">You : </span>				<span class="msg-text">' + $("#new-msg").val() + ' </span></div>';
			//$('#new-msg').val("");
		});

	</script>

</body>
</html>
