<!doctype html>
<html>
<head>
	<title>Your Groups</title>
	<link href="assets/css/style.css" rel="stylesheet" />
	<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<link href="assets/css/groups.css" rel="stylesheet" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://use.fontawesome.com/d4ad1e750c.js"></script>
</head>
<body>

	<% include partial/nav %>

	<div class="main" id="main">

		

	</div>




</body>
</html>
