<!doctype html>
<html>
<head>
	<title>User Profile</title>
	<link href="assets/css/style.css" rel="stylesheet" />
	<link href="assets/css/profile.css" rel="stylesheet" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/d4ad1e750c.js"></script>
	<script type="text/javascript" src="/assets/js/auth.js"></script>
</head>
<body>

	<% include partial/nav %>

	<div class="main" id="main">
		<div class="info">

			<div class="profile-img"></div>
		
	</div>	
	<div class="detail">
		<ul type="none">
			
		</ul>

	</div>
	<button id="logout">Logout</button>
	</div