<!doctype html>
<html>
<head>
	<title>User Profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="assets/css/style.css" rel="stylesheet" />
	<link href="assets/css/profile.css" rel="stylesheet" />
	<link href="assets/css/chat.css" rel="stylesheet" />
</head>
<body>
	<div class="main">
		<div class="info">
			<div class="profile-img"></div>
			<span class="info-name">Alan Walker</span>
			<span class="info-avatar">aw123</span>
			<span class="info-about">I am a coder, designer, learner etc.</span>
		</div>	
		<div class="detail">
			<div class="detail-item">
				<span class="detail-title"></span>
				<span class="detail-value"></span>
			</div>

		</div>

	</div>
</body>
</html>
