<!doctype html>
<html>
<head>
	<title>User Profile</title>
	<link href="assets/css/style.css" rel="stylesheet" />
	<link href="assets/css/profile.css" rel="stylesheet" />
	<link href="assets/css/chat.css" rel="stylesheet" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="/assets/js/auth.js"></script>
</head>
<body>


	<div class="main" id="main">
		<div class="info">
			<div class="profile-img"></div>
			<span class="info-name">Alan Walker</span>
			<span class="info-avatar">aw123</span>
			<span class="info-about">I am a coder, designer, learner etc.</span>
		</div>	
		<div class="detail">
			<div class="detail-item">
				<span class="detail-title">Email : </span>
				<span class="detail-value">aw123@mail.com</span>
			</div>
			<div class="detail-item">
				<span class="detail-title">Job : </span>
				<span class="detail-value">developer</span>
			</div>
			<div class="detail-item">
				<span class="detail-title">City : </span>
				<span class="detail-value">Kings Landing</span>
			</div>
			<div class="detail-item">
				<span class="detail-title">Email : </span>
				<span class="detail-value">aw123@mail.com</span>
			</div>
			<div class="detail-item">
				<span class="detail-title">Email : </span>
				<span class="detail-value">aw123@mail.com</span>
			</div>

		</div>

	</div>
</body>
</html>
