<!doctype html>
<html>
<head>
	<title>White Board</title>
	<link href="assets/css/style.css" rel="stylesheet" />
	<link href="assets/css/chat.css" rel="stylesheet" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/d4ad1e750c.js"></script>
</head>
<body>
	

	<div class="main-container">
		<div class="chat-nav">
			<span>Group Title</span>
		</div>
		
		<div class="main-container-content">
			<div class="chat-window">
				<div class="chats" id="chats">
					<div class="msg">
						<span class="msg-owner">aw123</span>
						<span class="msg-text">hello! how are u doing.</span>
					</div>
					<div class="msg">
						<span class="msg-owner">blendit07</span>
						<span class="msg-text">I am doing fine! how are u doing.</span>
					</div>

				</div>
				<div class="msg-bar">
					<div class="new-attach"><i class="fa fa-paperclip" aria-hidden="true"></i></div>
					<div class="new-msg" >
						<input type="text" id="new-msg" name="newMessage" placeholder="Type a message" autofocus>

					</div>
					<div class="send-msg" id="send-msg"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
				</div>

			</div>

			<div class="wb-window"><div class="tools-panel">
				<div class="draw-tools">
					<span class="panel-items-title">Tools</span>
					<div class="tool-item"> <i class="fa fa-pencil" aria-hidden="true"></i></div>
					<div class="tool-item"><i class="fa fa-paint-brush" aria-hidden="true"></i> </div>
					<div class="tool-item"><i class="fa fa-eraser" aria-hidden="true"></i> </div>
					<div class="tool-item"><i class="fa fa-font" aria-hidden="true"></i> </div>


					<div class="width-bar">
						Size : <input type="range" name="tool-size" min="0" max="100">
					</div>

				</div>
				<div class="color-palate">
					<span class="panel-items-title">Colors</span>
					<div class="tool-item clr-box" style="background: #000"></div>
					<div class="tool-item clr-box" style="background: #555"></div>
					<div class="tool-item clr-box" style="background: #aaa"></div>
					<div class="tool-item clr-box" style="background: #fff"></div>
					<div class="tool-item clr-box" style="background: #f00"></div>
					<div class="tool-item clr-box" style="background: #f00"></div>
					<div class="tool-item clr-box" style="background: #f00"></div>
					<div class="tool-item clr-box" style="background: #f00"></div>
					<div class="tool-item clr-box" style="background: #0f0"></div>
					<div class="tool-item clr-box" style="background: #0f0"></div>
					<div class="tool-item clr-box" style="background: #0f0"></div>
					<div class="tool-item clr-box" style="background: #0f0"></div>
					<div class="tool-item clr-box" style="background: #00f"></div>
					<div class="tool-item clr-box" style="background: #00f"></div>
					<div class="tool-item clr-box" style="background: #00f"></div>
					<div class="tool-item clr-box" style="background: #00f"></div>

				</div>
			</div>
			<div id="wb-canvas-wrapper">
				<canvas id="wb-canvas" ></canvas>
			</div>
		</div>
	</div>
</div>


<script src="/assets/js/chat-handler.js"></script>
</body>
</html>
