<div class="group-panel">
	<div class="group-panel-title">
		<span>Your Groups</span>
	</div>
	<div class="group-panel-item">
		<span>Group 1</span>
	</div>
	<div class="group-panel-item">
		<span>Group 2</span>
	</div>
	<div class="group-panel-item">
		<span>Group 3</span>
	</div>
	<div class="group-panel-item active">
		<span>Group 4</span>
	</div>
	<div class="group-panel-item">
		<span>Group 5</span>
	</div>
</div>
<div class="chat-window">
	<div class="chat-nav">
		<span>Group Title</span>
	</div>
	<div class="chats" id="chats">
		<div class="msg">
			<span class="msg-owner">aw123</span>
			<span class="msg-text">hello! how are u doing.</span>
		</div>
		<div class="msg">
			<span class="msg-owner">blendit07</span>
			<span class="msg-text">I am doing fine! how are u doing.</span>
		</div>

	</div>
	<div class="msg-bar">
		<div class="new-attach">
			<i class="fa fa-paperclip" aria-hidden="true"></i>
		</div>
		<div class="new-msg" >
			<input type="text" id="new-msg" name="newMessage" placeholder="Type a message" autofocus>
		</div>
		<div class="send-msg" id="send-msg">
			<i class="fa fa-paper-plane" aria-hidden="true"></i>
		</div>
	</div>
</div>
