<div class="group-panel">
		<ul>Your Groups
			<li>Group 1</li>
			<li>Group 2</li>
		</ul>
	</div>
	<div class="chat-window">
		<div class="chat-nav">
			
		</div>
		<div class="chats">
			
		</div>
		<div class="msg-bar">
			<div class="new-attach"><i class="fa fa-paperclip" aria-hidden="true"></i></div>
			<div class="new-msg">
				<input type="text" name="newMessage" placeholder="Type here">
			</div>
			<div class="send-msg"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
		</div>