<div class="group-info">
sjdkfhjk
</div>
<div class="group-panel border-left">
	<div class="group-panel-title">
		<span>List of groups<span>
	</div>
	<div class="group-panel-item">
		<span>Group 1</span>
	</div>
	<div class="group-panel-item">
		<span>Group 1</span>
	</div>
	<div class="group-panel-item">
		<span>Group 1</span>
	</div>
	<div class="group-panel-item">
		<span>Group 1</span>
	</div>
	<div class="group-panel-item">
		<span>Group 1</span>
	</div>




	<div class="group-panel-title group-add">
			<input type="text" name="new-grp" placeholder="Enter new group name"><button>Create</button>
	</div>
</div>
