<div class="group-info">

		</div>
		<div class="group-panel">
			<div>
				List of groups
			</div>
			<div>
				<input type="text" name="new-grp" placeholder="Enter new group name"><button>Create</button>
			</div>
		</div>
