<div class="pop-back">

	<form class="login-form" id="login_form">
	<div class="pop-text">Sign in</div>
		<div class="form-item">
			<label><i class="fa fa-user"></i> </label>
			<input type="text" id="li_uname" placeholder="Username" autofocus required></input>
		</div>
		<br>
		<div class="form-item">
			<label><i class="fa fa-lock"></i></label>
			<input type="password" id="li_pass" placeholder="Password" required></input>
		</div>
		<div class="form-item">
			<input id="login_btn" type="submit" value="Login">
		</div>

		<div class=""><br>	
			<span id="open-signup" style="font-size: .8em; cursor: pointer;">Don't have an account yet? <u> Signup </u></span>
		</div>
		<button class="close" id="close-login"><i class="fa fa-times" aria-hidden="true"></i></button>
	</form>
	<div class="feedback hidden" id="feedback_box"></div>
</div>
<script type="text/javascript">
	$('#close-login').on('click', function() {		
		$('#main').load('/welcome-msg');
	});
	$('#open-reset-pass').on('click', function(){
		$('#main').load('/reset-pass-content');
	});
	$('#open-signup').on('click', function(){
		$('#main').load('/signup-content');
	});

	$("#login_form").on("submit", (e) => {
		e.preventDefault();

		let $fbox = $("#feedback_box");
		let $lbtn = $("#login_btn");
		
		let txt = $lbtn.val();
		$lbtn.val("Logging in...");
		$lbtn.attr("disabled", true);

		login(
			$("#li_uname").val(), $("#li_pass").val(),
			(sdata) => {
				$fbox.removeClass("hidden error"); $fbox.addClass("success");
				$fbox.html("Login successful. Redirecting to app...");

				$lbtn.val(txt);
				$lbtn.attr("disabled", false);
				window.location.href = "/app";
			},
			(edata) => {
				let obj = JSON.parse(edata);
				$fbox.removeClass("hidden success"); $fbox.addClass("error");
				$fbox.html("Login error: " + obj["message"]);

				$lbtn.val(txt);
				$lbtn.attr("disabled", false);
			}
		);
	});
</script>
