<div class="group-panel">
			<div class="draw-tools">
				<span class="panel-items-title">Tools</span>
				<div class="tool-item"> <i class="fa fa-pencil" aria-hidden="true"></i></div>
				<div class="tool-item"><i class="fa fa-paint-brush" aria-hidden="true"></i> </div>
				<div class="tool-item"><i class="fa fa-eraser" aria-hidden="true"></i> </div>
				<div class="tool-item"><i class="fa fa-font" aria-hidden="true"></i> </div>
				

			<div class="width-bar">
				Size : <input type="range" name="tool-size" min="0" max="100">
			</div>

			</div>
			<div class="color-palate">
			<span class="panel-items-title">Colors</span>
				<div class="tool-item clr-box" style="background: #000"></div>
				<div class="tool-item clr-box" style="background: #555"></div>
				<div class="tool-item clr-box" style="background: #aaa"></div>
				<div class="tool-item clr-box" style="background: #fff"></div>
				<div class="tool-item clr-box" style="background: #f00"></div>
				<div class="tool-item clr-box" style="background: #f00"></div>
				<div class="tool-item clr-box" style="background: #f00"></div>
				<div class="tool-item clr-box" style="background: #f00"></div>
				<div class="tool-item clr-box" style="background: #0f0"></div>
				<div class="tool-item clr-box" style="background: #0f0"></div>
				<div class="tool-item clr-box" style="background: #0f0"></div>
				<div class="tool-item clr-box" style="background: #0f0"></div>
				<div class="tool-item clr-box" style="background: #00f"></div>
				<div class="tool-item clr-box" style="background: #00f"></div>
				<div class="tool-item clr-box" style="background: #00f"></div>
				<div class="tool-item clr-box" style="background: #00f"></div>

			</div>
		</div>
		


		<div class="chat-window">
		<!-- <div class="panel-items-title" style="border: none">
			Name of the board
		</div> -->
		<div id="wb-canvas-wrapper">
			<canvas id="wb-canvas" ></canvas>
			
		</div>


		</div>