<div class="header">
	<!-- <button class="head-btn"><i class="fa fa-bars"></i></button> -->
	<div class=nav-items>
		<div class="nav-item nav-item-active" id="chat">
			chat
		</div>
		<div class="nav-item" id="groups">
			groups
		</div>
		<div class="nav-item" id="manage">
			manage
		</div>
		<div class="nav-item" id="profile">
			profile
		</div>
	</div>
	<button class="head-btn">logout<i class="fa fa-user" aria-hidden="true"></i></button>
</div>

<script type="text/javascript">
		
	$('#chat').on('click', function(){
		$('#chat').classList.add('nav-item-active');
		$('#groups').classList.remove('nav-item-active');
		$('#manage').classList.remove('nav-item-active');
		$('#profile').classList.remove('nav-item-active');
		$('#main').load('/chat-content');
	});
	
	$('#groups').on('click', function(){
		$('#chat').classList.remove('nav-item-active');
		$('#groups').classList.add('nav-item-active');
		$('#manage').classList.remove('nav-item-active');
		$('#profile').classList.remove('nav-item-active');
		$('#main').load('/groups-content');	
	});

	$('#manage').on('click', function(){
		$('#chat').classList.remove('nav-item-active');
		$('#groups').classList.remove('nav-item-active');
		$('#manage').classList.add('nav-item-active');
		$('#profile').classList.remove('nav-item-active');
		$('#main').load('/manage-content');	
	});

	$('#profile').on('click', function(){
		$('#chat').classList.remove('nav-item-active');
		$('#groups').classList.remove('nav-item-active');
		$('#manage').classList.remove('nav-item-active');
		$('#profile').classList.add('nav-item-active');	
		$('#main').load('/profile-content');
	});


</script>