<div class="pop-text">Sign-Up</div>

<form class="login-form" id="signup_form">

	<div class="form-item">
		<label><i class="fa fa-user"></i> Name</label>
		<input type="text" id="name"></input>
	</div>

	<div class="form-item">
		<label><i class="fa fa-envelope"></i> E-mail</label>
		<input type="email" id="email"></input>
	</div>

	<div class="form-item">
		<label><i class="fa fa-user"></i> Username</label>
		<input type="text" id="username"></input>
	</div>

	<div class="form-item">
		<label><i class="fa fa-lock"></i> Password</label>
		<input type="password" id="password"></input>
	</div>

			<!-- <div class="form-item">
				<label><i class="fa fa-lock"></i>Confirm Password</label>
				<input type="password" id="r-passwd"></input>
			</div>

			<div class="form-item form-gen">
				<label>Gender : </label>
				<div class="gen-items">
					<div class="gen-item"><input type="radio" name="gender" value="male"/><i class="fa fa-mars"></i> &nbsp Male</div>
					
					<div class="gen-item"><input type="radio" name="gender" value="female"/><i class="fa fa-venus"></i> &nbsp Female </div>
				</div>
			</div>	
		-->
		<input id="signup_btn" type="submit" value="Sign-Up">
	</form>

	<button id="back-btn"  class="close" style="right: 0; left: 2em"><-</button>
	<button class="close" id="close-signup">X</button>

	<script type="text/javascript">

		$('#close-signup').on('click', function() {		
			$('#main').load('/welcome-msg');
		});

		$('#back-btn').on('click', function() {		
			$('#main').load('/login-content');
		});

		$('#signup_btn').on('click', function () {
			var $name = $('#name');
			var $usern = $('#username');
			var $pass = $('#password');
			var $email = $('#email');
			
			// Populate user data
			app.setUserName($usern.val());
			app.setUserInfo({
                name: $name.val(),
                email: $email.val(),
			});
			
			var userd = {
                username: app.user.username,
                password: $pass.val(),
                email: app.user.email
            };
			
			$.ajax({
                method: 'POST',
                url: app.urls.auth + "signup",
                
                headers: { 'Content-Type': 'application/json' },
                data: JSON.stringify(userd)
			}).done(function(user) {
                console.log("Received data: " + user);
                console.log("Successfully signed up. Redirecting to app...");
                
                // Save critical data
                var user_obj = JSON.parse(user);
                app.setUserInfo({
                    hasura_id: user_obj.hasura_id,
                    hasura_roles: user_obj.hasura_roles,
                    auth_token: user_obj.auth_token
                });
                
                // Save additional user data to server
                var prof_data = {
                    "type": 'insert',
                    "args": {
                        "table": 'profile',
                        "objects": [{
                            "id": app.user.id,
                            "name": app.user.name
                        }]
                    }
                };
                
                $.ajax({
                    method: 'POST',
                    url: app.urls.data + 'v1/query',
                    
                    headers: { 'Content-Type': 'application/json' },
                    data: JSON.stringify(prof_data)
                }).done(function(data) {
                    console.log(data);
                    
                    // Redirect to application
                    window.location = "/app";
                }).fail((e) => { console.log(e); });
			}).fail((e) => {
                // Handle errors
                // Premise: No change of page (dynamically generated)
                if (e) {
                    console.log(e);
                    console.error("Signup error! Reason: " + e.responseText);
                } else {
                    console.error("Fuck e");
                }
			});
		});

	</script>
	
