<div class="pop-back">

	<form class="login-form" id="signup_form">
	<div class="pop-text">Sign-Up</div>

		<div class="form-item">
			<label><i class="fa fa-user"></i></label>
			<input type="text" id="su_name" placeholder="Name" autofocus></input>
		</div>

		<div class="form-item">
			<label><i class="fa fa-envelope"></i></label>
			<input type="email" id="su_email" placeholder="Email"></input>
		</div>

		<div class="form-item">
			<label><i class="fa fa-user"></i></label>
			<input type="text" id="su_uname" placeholder="Username"></input>
		</div>

		<div class="form-item">
			<label><i class="fa fa-lock"></i></label>
			<input type="password" id="su_pass" placeholder="Password"></input>
		</div>

			<!-- <div class="form-item">
				<label><i class="fa fa-lock"></i>Confirm Password</label>
				<input type="password" id="r-passwd"></input>
			</div>

			<div class="form-item form-gen">
				<label>Gender : </label>
				<div class="gen-items">
					<div class="gen-item"><input type="radio" name="gender" value="male"/><i class="fa fa-mars"></i> &nbsp Male</div>
					
					<div class="gen-item"><input type="radio" name="gender" value="female"/><i class="fa fa-venus"></i> &nbsp Female </div>
				</div>
			</div>	
		-->
		<div class="form-item">
			<input id="signup_btn" type="submit" value="Sign-Up">
		</div>
	<button id="back-btn" class="close"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
	<button class="close" id="close-signup"><i class="fa fa-times" aria-hidden="true"></i></button>
	</form>

</div>
<script type="text/javascript">
	$('#close-signup').on('click', function() {		
		$('#main').load('/welcome-msg');
	});
	$('#back-btn').on('click', function() {		
		$('#main').load('/login-content');
	});

	$("#signup_form").on("submit", (e) => {

		e.preventDefault();
		signup(
			$("#su_name").val(), $("#su_uname").val(), $("#su_email").val(), $("#su_pass").val()
			);
	});
</script>

