<div class="wb-title">
	<div class="wb-t-l">
		<span>White</span>
	</div>
	<div class="wb-t-r">
		<span>Board</span>
	</div>
</div>

<div class="intro"> 
	Brainstorm and collaborate like it was meant to
</div>

<div id="wboard-start">
	<i class="fa fa-play" aria-hidden="true"></i>
</div>

<script type="text/javascript">
	$('#wboard-start').on('click', function() {		
		$('#main').load('/login-content');
	});
</script>
